@use "./variables";
@use "./mixins";

.clipboard-access {
  padding: variables.$container-padding;
  text-align: center;

  &__title {
    @include mixins.title;
  }
  &__desc {
    @include mixins.desc;
  }
  &__img {
    margin-block: 3rem;
  }

  @media all and (min-width: variables.$tablet-view) {
    padding-inline: variables.$container-padding-tablet;
  }

  @media all and (min-width: variables.$desktop-view) {
    // make padding-inline 0 in order to set image size properly
    padding-inline: 0;
    &__title,
    &__desc {
      padding-inline: variables.$container-padding-desktop;
    }

    &__img{
        max-width: 60rem;
    }
  }
}
