@use "./variables";
@use "./mixins";

.clipboard-access{
    // border: 2px solid red;
padding: variables.$container-padding;
text-align: center;


&__title{
    color: variables.$dark-grayish-blue;
    font-size: 1.6rem;
}
&__desc{
    @include mixins.desc;
}
&__img{
    margin-block: 3rem;
}

@media all and (min-width:variables.$tablet-view) {
    padding-inline: variables.$container-padding-tablet;
}
}