@use "./variables";

.footer {
  text-align: center;
  background-color: variables.$light-grayish-blue;
  padding-block: 2rem 4rem;
  & #logo {
    scale: 0.45;
  }

  &__link {
    color: variables.$dark-grayish-blue;
    margin-block-end: 1.6rem;
  }

  &__social {
    margin-block-start: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  @media all and (min-width: variables.$desktop-view) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;

    &__links {
      // offset the links section to make it look closer to the design
      left: -10%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    &__link {
      text-align: start;
      margin:.9rem 1rem;
    }
    &__link:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }
    &__link:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/3;
    }
    &__link:nth-child(3){
        grid-column: 2/3;
        grid-row: 1/2;
    }
    &__link:nth-child(4){
        grid-column: 2/3;
        grid-row: 2/3;
    }
    &__link:nth-child(5){
        grid-column: 3/4;
        grid-row: 1/2 ;
    }
    

    &__social{
        margin: 0;
    }
    &__social-link{
        top: 4px;  // offset elements to make them center a little better
    }
  }
}
