@use "./variables";

@mixin desc{

    color: variables.$grayish-blue;
    font-size: .97rem;
    line-height: 1.5rem;
    
}

@mixin btn($shadow) {
    width: 100%;
    // max-width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 10rem;
    margin-block: .7rem;
    // margin: .7rem 2rem;
    color: variables.$white;
    font-size: 1.05rem;
    box-shadow: inset 0 -1px 2px 0 hsla(0, 0%, 0%, 0.589), 0 15px 10px -10px $shadow;

    @media all and (min-width:variables.$tablet-view) {
        width: 13rem;
        margin-inline: 1rem;
    }

}

@mixin title{
    color: variables.$dark-grayish-blue;
    font-weight: 1.6rem;
}