@use "./variables";
@use "./mixins";

.snippets-track{
    text-align: center;
    padding: variables.$container-padding;
    margin-block-end: 3rem;
    &__title{
        color: variables.$dark-grayish-blue;
        font-size: 1.6rem;
    }
    &__desc{
        @include mixins.desc;
    }
    &__img{
        width: 100%;
        margin-block: 3rem;
    }

  
    &__option{
        margin-block:3rem;
    }

    &__option-title{
        color: variables.$dark-grayish-blue;
        margin-block:1rem
    }
    &__option-desc{
        @include mixins.desc;
       
    }

    @media all and (min-width:variables.$tablet-view) {
        padding-inline: variables.$container-padding-tablet;

        &__option{
            width: 65%;
            margin-inline: auto;
        }
    }
}