@use "./variables";
@use "./mixins";

.supper-charge-workflow{
    padding: variables.$container-padding;

text-align: center;
    &__title{
        @include mixins.title;
        padding: 0 3rem;
    
    }
    &__desc{
        @include mixins.desc;
    }

    &__option{
        // border: 2px solid red;
        margin: 4rem 0;

        & svg{
            margin-block: 1rem;
            // border: 2px solid red
        }
    }
    &__option-title{
        @include mixins.title;
        font-size: 1.3rem;
    }
    &__option-desc{
        @include mixins.desc;
    }


    &__brand{
        width: 40%;
        max-width: 8rem;
        height: auto;
        object-fit: scale-down;
        margin: 4rem auto;

        // adjust the size of brand-images manually (they are images not svg) because of that, if I leave them as they are they will not match the design file
        &-IBM{
            width: 85%;
        }
        &-HP{
            width: 80%;
        }
        &-Vector-Graphics{
            width: 70%;
        }
    }

    @media all and (min-width:variables.$tablet-view) {
        
        padding-inline: variables.$container-padding-tablet;

        &__option{
            width: 60%;
            margin-inline:auto;
        }

        &__brand{
            max-width: 10rem;
        }
    }
}