
// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);

// ### Neutral

$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);
$light-grayish-blue: hsl(201, 11%, 95%);

$white:hsl(360, 100%, 100%);

// ## Typography

// ### Body Copy

// - Font size: 18px

// ### Fonts

// - Family: [Bai Jamjuree](https://fonts.google.com/specimen/Bai+Jamjuree)
// - Weights: 400, 600


$container-padding:2rem;